/* CSS for LimeSurveyXBlock */
.limesurvey-xblock-wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}

.limesurvey-xblock-wrapper iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
