<div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab">
  <ul class="list-input settings-list">
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="limesurvey_display_name">Display name</label>
        <input class="input setting-input" name="limesurvey_display_name" id="limesurvey_display_name" value="{{display_name}}" type="text" />
      </div>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="limesurvey_survey_id">Survey ID</label>
        <input class="input setting-input" name="limesurvey_survey_id" id="limesurvey_survey_id" value="{{survey_id}}" type="text" />
      </div>
      <span class="tip setting-help"> {{ survey_id_field.help }} </span>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="limesurvey_anonymous_survey">Anonymous survey</label>
        <select id="limesurvey_anonymous_survey" class="input setting-input" name="limesurvey_anonymous_survey" >
            <option value=1 {% if anonymous_survey %} selected{% endif %}> True </option>
            <option value=0 {% if not anonymous_survey %} selected{% endif %}> False </option>
        </select>
      </div>
      <span class="tip setting-help"> {{ anonymous_survey_field.help }} </span>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="limesurvey_open_access_mode">Open access mode</label>
        <select id="limesurvey_open_access_mode" class="input setting-input" name="limesurvey_open_access_mode" >
            <option value=1 {% if open_access_mode %} selected{% endif %}> True </option>
            <option value=0 {% if not open_access_mode %} selected{% endif %}> False </option>
        </select>
      </div>
      <span class="tip setting-help"> {{ open_access_mode_field.help }}  </span>
    </li>
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="limesurvey_url">LimeSurvey URL</label>
        <input class="input setting-input" name="limesurvey_url" id="limesurvey_url" value="{{limesurvey_url}}" type="text" />
      </div>
    </li>
  </ul>

  <div class="xblock-actions">
    <ul>
      <li class="action-item">
        <a href="#" class="button action-primary save-button">Save</a>
      </li>
      <li class="action-item">
        <a href="#" class="button cancel-button">Cancel</a>
      </li>
    </ul>
  </div>
</div>
